awsebcli
bidict
blessed
blinker
botocore
cement
certifi
charset-normalizer
click
colorama
coolname
dnspython
Flask
Flask-Cors
Flask-Login
Flask-SocketIO
gevent
gevent-websocket
greenlet
gunicorn
h11
idna
itsdangerous
Jinja2
jmespath
MarkupSafe
packaging
pathspec
pymongo
pyTelegramBotAPI
python-dateutil
python-dotenv
python-engineio
python-socketio
PyYAML
requests
semantic-version
setuptools
simple-websocket
six
telebot
termcolor
urllib3
wcwidth
websockets
Werkzeug
wsproto
zope.event
zope.interface
