awsebcli==3.20.10
bidict==0.23.1
blessed==1.20.0
blinker==1.8.2
botocore==1.31.85
cement==2.8.2
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.3
coolname==2.2.0
dnspython==2.6.1
Flask==3.0.3
Flask-Cors==4.0.1
Flask-Login==0.6.3
Flask-SocketIO==5.3.6
gevent==24.2.1
gevent-websocket==0.10.1
greenlet==3.0.3
gunicorn==22.0.0
h11==0.14.0
idna==3.7
itsdangerous==2.2.0
Jinja2==3.1.4
jmespath==1.0.1
MarkupSafe==2.1.5
packaging==24.1
pathspec==0.10.1
pymongo==4.7.2
pyTelegramBotAPI==4.18.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-engineio==4.9.1
python-socketio==5.11.2
PyYAML==6.0.1
requests==2.32.2
semantic-version==2.8.5
setuptools==70.1.0
simple-websocket==1.0.0
six==1.16.0
telebot==0.0.5
termcolor==1.1.0
urllib3==2.2.1
wcwidth==0.1.9
websockets==12.0
Werkzeug==3.0.3
wsproto==1.2.0
zope.event==5.0
zope.interface==6.4.post2
